body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  background: #273549;
}

.main-container {
  width: 550px;
  height: 550px;
  background: #1f2937;
  margin: 30px auto;
  padding: 1px;
}

#hero-title {
  width: 354px;
  height: 80px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin: 114px 143px 10px 51px;
}

#title-span {
  color: #4adf86;
}

#hero-para {
  width: 372px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d5d4d8;
  margin: 0 125px 51px 52px;
}

#generate-btn {
  padding: 9px 17px 9px 15px;
  width: 191px;
  height: 42px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 306px 35px 51px;
  cursor: pointer;
}

#line {
  width: 446px;
  height: 0px;
  border: 1px solid #2f3e53;
  margin: 35px 51px;
}

#label-container {
  width: 446px;
  display: flex;
  justify-content: space-between;
  margin: 35px 51px 114px;
}

.password-label {
  width: 211px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #55f991;
  padding: 4px 16px;
  box-sizing: border-box;
}
